@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #041720;
  /* background-color: #06212e; */

  /* background-color: rgb(125, 177, 179); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .navbar {
  @apply p-3 ring-1 md:static opacity-0 sm:opacity-100 invisible lg:visible sm:scale-100 backdrop-blur-2xl rounded-2xl;
} */
.navbar {
  @apply p-2.5 pt-3.5 bg-zinc-50/5 rounded-xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate opacity-0 invisible lg:opacity-100 md:visible md:scale-100 backdrop-blur-md;
}

.navbar-contact {
  @apply p-2.5 gap-4 pt-3.5 bg-zinc-50/5 rounded-xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate opacity-0 invisible lg:opacity-100 md:visible md:scale-100 backdrop-blur-md;
}

.nav-link {
  @apply px-4 rounded-2xl hover:text-zinc-50 text-zinc-300;
}

.hl-1 {
  @apply text-4xl sm:text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15];
}

.hl-2 {
  @apply text-2xl lg:text-3xl lg:leading-tight;
}

.btn {
  @apply max-w-max flex items-center gap-2 px-5 pb-1.5 pt-2.5 rounded-xl font-medium text-sm ring-1 ring-zinc-50/5 ring-inset transition-colors;
}

.btn2 {
  @apply flex items-center px-5 pb-1.5 pt-2.5 rounded-xl font-medium text-sm ring-1 ring-zinc-50/5 ring-inset transition-colors;
}

.btn-primary {
  @apply text-[14pt] bg-zinc-50/10 hover:bg-zinc-50/15;
}

.btn-primary2 {
  @apply text-[14pt] bg-cyan-700/90 hover:bg-zinc-50/15;
}

.label {
  @apply block text-zinc-200 text-sm font-normal mb-2;
}

.text-field {
  @apply block outline-none w-full px-3 pb-3 pt-3 text-[12pt] bg-zinc-50/5 rounded-lg ring-1 ring-inset ring-transparent hover:ring-zinc-50/10 focus:ring-sky-700 focus:ring-2;
}

.text-field::placeholder {
  @apply text-zinc-400;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */